[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pillow = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
py2app = "*"
setuptools = "*"
pyinstaller = "*"
tornado = "*"
pycairo = "*"
pygobject = "*"
ipython = "*"
ipykernel = "*"
wxpython = "*"

[requires]
python_version = "3.7.7"
